<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/BarlowSemiCondensed-Light.ttf</string>
		<string>Fonts/BarlowSemiCondensed-Regular.ttf</string>
		<string>Fonts/BarlowSemiCondensed-Medium.ttf</string>
		<string>Fonts/BarlowSemiCondensed-SemiBold.ttf</string>
		<string>Fonts/BarlowSemiCondensed-Bold.ttf</string>
		<string>Fonts/BarlowSemiCondensed-ExtraBold.ttf</string>
		<string>Fonts/BarlowSemiCondensed-Black.ttf</string>
	</array>
</dict>
</plist>
